<%- include("header") %>

<div class="container">
  <div class="row">
    <div class="col-md-6">

        <h1>Password Reset</h1>
        <form action="/reset-password" method="post">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
        </form>
    </div>
  </div>
</div>

<%- include("footer") %>
