<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <a href="/add-data">Add new user</a>
    <ul>
      <% useData.map((data)=>{ %>

      <li>
        <span><%= data.userName %></span>
        <a href="/edit/<%= data.id %>"><button>Edit</button></a>
        <a href="/delete/<%= data.id %>"><button>Delete</button></a>
      </li>

      <% }) %>
    </ul>
  </body>
</html>
